@using HR_Project.Entities.Entities;
@using HR_Project.Entities.Enums;
@model User

@{
    Layout = "~/Areas/CompanyManager/Views/Shared/_Layouttt.cshtml";
    var jobList = ViewBag.jobList as List<Job>;
    var departmentList = ViewBag.departmentList as List<Department>;
}
<style>
    .table img {
        max-width: 50px; /* Maksimum genişlik */
        max-height: 50px; /* Maksimum yükseklik */
        object-fit: cover; /* Orantılı olarak fotoğrafı sığdır */
        border-radius: 50%; /* Yuvarlak kenarlıklar */
    }

    span {
        color: white;
    }

    th {
        font-size: 16px;
        font-weight: bold;
    }

    td {
        font-size: 13px;
    }

    .pclass {
        margin-top: 30px;
    }

    label {
        color: white;
    }

    .selectDesign {
        padding: 10px 15px;
        background-color: #FFFFFF14;
    }

    .normalTd {
        margin-top: -5px;
    }

    .optionColor > option {
        background-color: #FFFFFF14;
        color: black;
    }

    .formDesign {
        padding: 30px;
        background: rgba(255, 255, 255, 0.08);
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: rgba(255, 255, 255, 0.08);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    .form-group select {
        background-color: rgba(255, 255, 255, 0.08);
        border: hidden;
        border-block-color: rgba(255, 255, 255, 0.08);
        color: white;
    }

        .form-group select:focus {
            background-color: rgba(255, 255, 255, 0.08) !important;
            color: white;
        }

    .form-group input {
        background-color: rgba(255, 255, 255, 0.08);
        border: hidden;
        border-block-color: rgba(255, 255, 255, 0.08);
        color: white;
    }

        .form-group input:focus {
            background-color: rgba(255, 255, 255, 0.08) !important;
            color: white;
        }

    .pagination {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .pagination li {
            margin: 0 5px;
        }

            .pagination li a {
                color: black;
                text-decoration: none;
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

                .pagination li a.active {
                    background-color: #ccc;
                }

                .pagination li a:hover {
                    background-color: #f5f5f5;
                }
</style>
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" rel="stylesheet" />

</head>

<section id="contact" class="contact section-show">
    <div class="container">
        <div class="section-title">
            <h2>Registration</h2>
        </div>
        <form asp-action="AddUser" asp-area="CompanyManager" asp-controller="CompanyManagerHome" enctype="multipart/form-data" method="post" class="formDesign mt-4">
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="Your First Name" required="">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" type="text" class="form-control" placeholder="Your Last Name" required="">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="FirstName2">Middle Name</label>
                        <input asp-for="FirstName2" type="text" class="form-control" placeholder="Your Middle Name">
                        <span asp-validation-for="FirstName2" class="text-danger"></span>

                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label asp-for="LastName2">Maiden Name</label>
                        <input asp-for="LastName2" type="text" class="form-control" placeholder="Your Maiden Name">
                        <span asp-validation-for="LastName2" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="TCIdentificationNumber">Identification Number</label>
                        <input asp-for="TCIdentificationNumber" class="form-control form-control-md" />
                        <span asp-validation-for="TCIdentificationNumber" class="text-danger"></span>
                    </div>
                    <div style="margin-top:20px;" class="col-md-6 form-group">
                        <label>
                            <input style="margin-top:15px;" type="radio" name="gender" value="Man">
                            <span>Man</span>
                        </label>  &nbsp; &nbsp; &nbsp;
                        <label>
                            <input style="margin-top:15px;" type="radio" name="gender" value="Woman">
                            <span>Woman</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="Birthdate">Birth Date</label>
                        <input asp-for="Birthdate" class="dateInput form-control form-control-md" type="date" data-date="" data-date-format="DD MMMM YYYY">
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label asp-for="BirthPlace">Birth Place</label>
                        <input asp-for="BirthPlace" class="form-control form-control-md" />
                        <span asp-validation-for="BirthPlace" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <select style="background-color:#FFFFFF14; color:white" class="optionColor form-select form-select-md" aria-label="Default select example" asp-for="JobID" asp-items='new SelectList(jobList, "ID", "JobName")'>
                </select>
                <span asp-validation-for="JobID" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <select style="background-color:#FFFFFF14; color:white" class="optionColor form-select form-select-md" aria-label="Default select example" asp-for="DepartmentID" asp-items='new SelectList(departmentList, "ID", "DepartmentName")'>
                    <span asp-validation-for="DepartmentID" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="StartDateOfWork">Start Date of Work</label>
                        <input asp-for="StartDateOfWork" class="dateInput form-control form-control-md" type="date" data-date="" data-date-format="DD MMMM YYYY">
                        <span asp-validation-for="StartDateOfWork.Date" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label asp-for="DismissalDate">Dismissal Date</label>
                        <input asp-for="DismissalDate" class="dateInput form-control form-control-md" type="date" data-date="" data-date-format="DD MMMM YYYY">
                        <span asp-validation-for="DismissalDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="PhoneNumber">Phone</label>
                        <input type="text" class="form-control form-control-md" asp-for="PhoneNumber" maxlength="10" placeholder="(Please write after +90)" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label asp-for="Salary"></label>
                        <input type="text" class="form-control form-control-md" asp-for="Salary" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" asp-items="@ViewBag.CityList" class="form-select"></select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="Photo">Choose Your Photo</label>
                        <input asp-for="Photo" name="files" type="file" id="image-upload" accept=".png, .jpg, .jpeg" class="form-control form-control-md" />
                    </div>
                </div>
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div style="margin-left:1000px;" class="text-center">< <input class="btn btn-success" type="submit" value="Register" onclick="submitForm()"></></div>
        </form>
    </div>
</section><!-- End Contact Section -->                  <!--CONTACT EKRANI            -->



<script>
    function submitForm() {
        var form = document.getElementById('updateUserForm');

        var fileInput = document.getElementById('image-upload');
        var file = fileInput.files[0];
        var fileSize = file.size;
        var maxSizeInBytes = 4 * 1024 * 1024; // Maksimum 4MB (4 * 1024 * 1024 byte)
        if (fileSize > maxSizeInBytes) {
            alert("Dosya boyutu çok büyük! Lütfen maksimum 4MB boyutunda bir dosya seçin.");
            return;
        }

        var fileExtension = file.name.split('.').pop().toLowerCase();
        if (fileExtension !== 'png' && fileExtension !== 'jpg' && fileExtension !== 'jpeg') {
            alert("Geçersiz dosya uzantısı! Sadece .png, .jpg veya .jpeg uzantılı dosyaları seçin.");
            return;
        }

        // FormData nesnesini oluşturarak form verilerini alın
        var formData = new FormData(form);
        // Dosyayı formData'ya ekleyin
        formData.append('files', file);

        // FormData'yı doğru bir şekilde göndermek için XMLHttpRequest kullanın
        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action);
        xhr.onload = function () {
            if (xhr.status === 200) {
                alert("Güncelleme işlemi başarıyla tamamlandı!");
                window.location.href = '/CompanyManager/CompanyManagerHome/AddUser'; // Index sayfasına yönlendirme
            } else {
                alert("Güncelleme işlemi sırasında bir hata oluştu.");
            }
        };
        // Content-Type başlığını ayarlamaya gerek yok, otomatik olarak ayarlanır.
        xhr.send(formData);
    }    
</script>


