@model UpdateUserDTO
@{
    ViewData["Title"] = "AddUser";
    var jobList = ViewBag.jobList as List<Job>;
    var departmentList = ViewBag.departmentList as List<Department>;
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    @@media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #a1c4fd;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
    }

    .bg-indigo {
        background-color: #4835d4;
    }

    @@media (min-width: 992px) {
        .card-registration-2 .bg-indigo {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    @@media (max-width: 991px) {
        .card-registration-2 .bg-indigo {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
</style>
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" rel="stylesheet" />

</head>
<section style="padding: 0; margin-top:-20px;">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center h-60">
            <div class="col-12">
                <div class="card-body p-0">
                    <form asp-action="UserUpdate" asp-controller="CompanyManagerHome" asp-area="CompanyManager" method="post" enctype="multipart/form-data">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline form-group">
                                                <label class="form-label" asp-for="FirstName">First Name</label>
                                                <input asp-for="FirstName" class="form-control form-control-md" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline form-group">
                                                <label class="form-label" asp-for="LastName">Last Name</label>
                                                <input asp-for="LastName" class="form-control form-control-md" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline form-group">
                                                <label class="form-label" asp-for="FirstName2">First Name-2</label>
                                                <input asp-for="FirstName2" class="form-control form-control-md" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline form-group">
                                                <label class="form-label" asp-for="LastName2">Last Name-2</label>
                                                <input asp-for="LastName2" class="form-control form-control-md" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="mb-4 pb-2 form-group">
                                        <label asp-for="TCIdentificationNumber" class="control-label"></label>
                                        <input asp-for="TCIdentificationNumber" class="form-control form-control-md" />
                                        <span asp-validation-for="TCIdentificationNumber" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4 pb-2">
                                        <label class="control-label">Job</label>
                                        <select class="form-select form-select-md" aria-label="Default select example" asp-for="JobID" asp-items='new SelectList(jobList, "ID", "JobName")'>
                                            <option value="">Choose Job</option>
                                        </select>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <label class="control-label">Department</label>
                                        <select class="form-select form-select-md" aria-label="Default select example" asp-for="DepartmentID" asp-items='new SelectList(departmentList, "ID", "DepartmentName")'>
                                            <option value="">Choose Department</option>
                                        </select>
                                    </div>

                                    <div class="mb-4 pb-2 form-group">
                                        <label asp-for="StartDateOfWork" class="control-label">Start Date Of Work</label>
                                        <input style="width:568.8px; height:38.18px;" asp-for="StartDateOfWork" class="dateInput form-control form-control-md" type="date" data-date="" data-date-format="DD MMMM YYYY">
                                        <span asp-validation-for="StartDateOfWork.Date" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4 pb-2 form-group">
                                        <label asp-for="DismissalDate" class="control-label">Dissmissal Date</label>
                                        <input style="width:568.8px; height:38.18px;" asp-for="DismissalDate" class="dateInput form-control form-control-md" type="date" data-date="" data-date-format="DD MMMM YYYY">
                                        <span asp-validation-for="DismissalDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-group">
                                            <label asp-for="Photo" for="image-upload" class="form-label">Please Choose An Image</label>
                                            <input asp-for="Photo" name="files" type="file" id="image-upload" accept=".png, .jpg, .jpeg" class="form-control form-control-md" />
                                            <span asp-validation-for="Photo" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white form-group">
                                            <label asp-for="Birthdate" class="control-label">Birth Date</label>
                                            <input style="width:568.8px; height:38.18px;" asp-for="Birthdate" class="dateInput form-control form-control-md" type="date" data-date="" data-date-format="DD MMMM YYYY">
                                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white form-group">
                                            <label asp-for="BirthPlace" class="control-label">Birth Place</label>
                                            <input asp-for="BirthPlace" class="form-control form-control-md" />
                                            <span asp-validation-for="BirthPlace" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white form-group">
                                            <label asp-for="Address" class="control-label"></label>
                                            <input asp-for="Address" class="form-control form-control-md" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white form-group">
                                            <label asp-for="Salary" class="control-label"></label>
                                            <input asp-for="Salary" class="form-control form-control-md" />
                                            <span asp-validation-for="Salary" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white form-group">
                                            <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                                            <input type="text" class="form-control form-control-md" asp-for="PhoneNumber" id="ssn-input" maxlength="13" placeholder="(Please write after +90)" required />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <input type="submit" value="Update Employee" class="btn btn-primary" onclick="submitForm()" />
                                    </div>


                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var input = document.getElementById("ssn-input");

    // Her karakter girildiğinde formatlama işlevini çağırın
    input.addEventListener("input", formatSSN);

    function formatSSN() {
        // Girdi değerini alın
        var value = input.value;

        // Sayılardan oluşan bir dize oluşturun
        var digits = value.replace(/\D/g, "");

        // Formatlanmış dizeyi oluşturun (örnek: "555-55-55")
        var formattedValue = "";
        for (var i = 0; i < digits.length; i++) {
            if (i === 3 || i === 6 || i === 8) {
                formattedValue += "-";
            }
            formattedValue += digits.charAt(i);
        }

        // Formatlanmış değeri girdi alanına yerleştirin
        input.value = formattedValue;
    }
</script>


<script>
    function submitForm() {
        var form = document.getElementById('updateUserForm');

        var fileInput = document.getElementById('image-upload');
        var file = fileInput.files[0];
        var fileSize = file.size;
        var maxSizeInBytes = 4 * 1024 * 1024; // Maksimum 4MB (4 * 1024 * 1024 byte)
        if (fileSize > maxSizeInBytes) {
            alert("Dosya boyutu çok büyük! Lütfen maksimum 4MB boyutunda bir dosya seçin.");
            return;
        }

        var fileExtension = file.name.split('.').pop().toLowerCase();
        if (fileExtension !== 'png' && fileExtension !== 'jpg' && fileExtension !== 'jpeg') {
            alert("Geçersiz dosya uzantısı! Sadece .png, .jpg veya .jpeg uzantılı dosyaları seçin.");
            return;
        }

        // FormData nesnesini oluşturarak form verilerini alın
        var formData = new FormData(form);
        // Dosyayı formData'ya ekleyin
        formData.append('files', file);

        // FormData'yı doğru bir şekilde göndermek için XMLHttpRequest kullanın
        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action);
        xhr.onload = function () {
            if (xhr.status === 200) {
                alert("Güncelleme işlemi başarıyla tamamlandı!");
                window.location.href = '/CompanyManager/CompanyManagerHome/UserUpdate'; // UserUpdate sayfasına yönlendirme
            } else {
                alert("Güncelleme işlemi sırasında bir hata oluştu.");
            }
        };
        // Content-Type başlığını ayarlamaya gerek yok, otomatik olarak ayarlanır.
        xhr.send(formData);
    }

    $(document).ready(function () {
        $(".dateInput").on("change", function () { this.setAttribute("data-date", moment(this.value, "YYYY-MM-DD").format(this.getAttribute("data-date-format"))); }).trigger("change");
    });
</script>

<style>
    .dateInput {
        position: relative;
        width: 150px;
        height: 20px;
        color: white;
    }

        .dateInput:before {
            position: absolute;
            top: 3px;
            left: 3px;
            content: attr(data-date);
            display: inline-block;
            color: black;
        }

        .dateInput::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
            display: none;
        }

        .dateInput::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 3px;
            right: 0;
            color: black;
            opacity: 1;
        }
</style>