@model HR_Project.Entities.Entities.User
@{
    Layout = "~/Areas/CompanyManager/Views/Shared/_Layouttt.cshtml";
}
<hr />
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HR_Project.UI.styles.css" asp-append-version="true" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/style.css" />
</head>
<style>


    /* Style the input container */
    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }
    

    /* Style the form icons */
    .icon {
        padding: 10px;
        background: dodgerblue;
        color: white;
        min-width: 50px;
        text-align: center;
    }



    /* Style the input fields */
    .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
    }



        .input-field:focus {
            border: 2px solid dodgerblue;
        }
</style>
<section id="contact" class="contact section-show">   
        <div class="col-lg-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h6>Password must contain at least one lowercase letter, one uppercase letter, one digit, and be at least 6 characters long.</h6>
                </div>
                <div class="card-body">
                    <!-- Credit Card -->
                    <div id="pay-invoice">
                        <div class="card-body">
                            <form asp-action="PasswordChange" asp-controller="Home" asp-area="" method="post" enctype="multipart/form-data" onsubmit="return checkForm()">
                                <input type="hidden" asp-for="ID" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="FirstName" />
                                <input type="hidden" asp-for="FirstName2" />
                                <input type="hidden" asp-for="LastName" />
                                <input type="hidden" asp-for="LastName2" />
                                <input type="hidden" asp-for="StartDateOfWork" />
                                <input type="hidden" asp-for="DismissalDate" />
                                <input type="hidden" asp-for="FormattedBirthdate" />
                                <input type="hidden" asp-for="BirthPlace" />
                                <input type="hidden" asp-for="Email" />
                                <input type="hidden" asp-for="PhoneNumber" />
                                <input type="hidden" asp-for="Gender" />
                                <input type="hidden" asp-for="Role" />
                                <input type="hidden" asp-for="Address" />
                                <input type="hidden" asp-for="Salary" />
                                <input type="hidden" asp-for="Photo" />
                                <input type="hidden" asp-for="TCIdentificationNumber" />
                                <input type="hidden" asp-for="Job" />
                                <input type="hidden" asp-for="JobID" />
                                <input type="hidden" asp-for="DepartmentID" />
                                <input type="hidden" asp-for="Department" />
                                <input type="hidden" asp-for="CompanyID" />
                                <input type="hidden" asp-for="Birthdate" />
                                <input type="hidden" asp-for="DismissalDate" />
                                <input type="hidden" asp-for="IsPasswordChange" value="True" />
                                <div class="form-group">
                                    <label for="exampleInputPassword1">New Password</label>
                                    <div class="input-container">

                                        <input asp-for="Password" type="password" class="form-control form-control-md" id="passwordInput" value="" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <a href="#"><i style="background-color:orange" class="fa fa-eye icon" onclick="myFunction()"></i></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Confirm Password</label>
                                    <div class="input-container">
                                        <input type="password" class="form-control form-control-md" id="confirmPasswordInput" />

                                        <a href="#"><i style="background-color:orange" class="fa fa-eye icon" onclick="myFunction2()"></i></a>
                                    </div>
                                    <span id="passwordMatchError" class="text-danger" style="display: none;">Passwords do not match!</span>

                                    <div class="form-group">
                                        <label for="passwordStrengthIndicator" class="control-label">Password Strength:</label>
                                        <div id="passwordStrengthIndicator"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Update Password" class="btn btn-primary" onclick="submitForm()" />
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</section>

<script>
    function myFunction() {
        var x = document.getElementById("passwordInput");
        if (x.type === "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
    function myFunction2() {
        var x = document.getElementById("confirmPasswordInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function checkForm() {
        var password = document.getElementById("passwordInput").value;
        var confirmPassword = document.getElementById("confirmPasswordInput").value;
        if (password !== confirmPassword) {
            document.getElementById("passwordMatchError").style.display = "block";
            return false; // Formu göndermeyi engelle
        } else {
            document.getElementById("passwordMatchError").style.display = "none";
            if (!checkPasswordStrength(password)) {
                return false; // Formu göndermeyi engelle
            }
            return true; // Formu gönder
        }
    }
    function checkPasswordStrength(password) {
        // Parola zorluk derecesini kontrol etmek için gerekli kriterleri burada uygulayabilirsiniz
        // Örneğin, en az bir büyük harf, bir küçük harf, bir sayı ve belirli bir uzunluk gerekiyorsa:
        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!#$%^&*()_+\-=[\]{};':"\\|,.<>/?])[a-zA-Z\d!#$%^&*()_+\-=[\]{};':"\\|,.<>/?]{6,}$/;
        if (!regex.test(password)) {
            alert("Password must contain at least one lowercase letter, one uppercase letter, one digit, and be at least 6 characters long.");
            return false;
        }
        return true;
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>